.App {
  text-align: center;
}


html,
body {
  min-height: 100vh;

}

/* jumbotron */
.Jumbotron { 
  background-image: url("../src/assets/slider.jpg");
  background-repeat: no-repat, repeat;
  background-position: center;
  background-size:cover;
  height: 50rem;
  padding-top: 6rem;
  font-weight: bold;
  padding: 6rem;
  box-shadow: 0rem .5rem .5rem 0px;

}

footer {
  position: fixed;
  bottom: 0;
}